doctype html
html
  head
    title  Ankita Dance Academy
    block scripts
    block style
  body
    nav#navbar 
            ul 
                div#logo
                   img(src="/static/img/AD.png")
                   | ADA
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Class Info]
                li #[a(href="/") Contact Us] 
                 
    block content
    footer#footer 
        |copyright © 2024 AnkitaDanceAcademy.com | All rights reserved
